<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LITERALURA</title>
</head>
<body>
    <h1>LITERALURA</h1>
    <ul>
        <li><a href="/buscar-libro">Buscar libro por título</a></li>
        <li><a href="/listar-libros">Listar libros registrados</a></li>
        <li><a href="/listar-autores">Listar autores registrados</a></li>
        <li><a href="/listar-autores-vivos">Listar autores vivos en un año determinado</a></li>
        <li><a href="/listar-libros-por-idioma">Listar libros por idioma</a></li>
    </ul>
</body>
</html>
